@charset "UTF-8";
.main {
  background-color: #cccccc;
  font-family: Asap; }

.all {
  margin: 1em 2em 1em 2em;
  background-color: white; }

.text {
  margin: 0 2em 0 2em;
  font-size: 1em; }

.nav {
  text-align: center;
  font-size: 1.25em;
  color: #0c344f; }

.sub {
  color: #0c344f; }

li {
  display: inline-block; }

.logo {
  text-align: center;
  font-size: 2em;
  color: #0c344f; }

.banner {
  background-color: #568aaf;
  padding-top: 1em;
  color: white;
  height: 12em;
  background-size: 100% 100%;
  padding-bottom: 0; }

.fantastic {
  color: #0c344f;
  font-size: 4.35em; }

#banner-image {
  background-image: url("http://dreamatico.com/data_images/kitten/kitten-5.jpg"); }

.motto h1 {
  text-align: center;
  font-size: 3em; }

.motto h2 {
  text-align: center; }

header {
  font-size: 4.77em;
  padding-top: 0.9em; }

.datetime {
  text-decoration: underline;
  color: #cccccc;
  font-size: 1.25em;
  padding-bottom: 1.9em; }

body {
  background-color: white; }

.quote {
  margin: 0 auto;
  font-size: 1.7em;
  border-left: 2px solid #cccccc;
  padding-left: 0.9em;
  padding-top: 0.9em;
  padding-bottom: 0.8em;
  color: #2a78b6; }

.links {
  color: black;
  font-size: 1em; }

.lnk1 {
  height: 1em;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-right: 0.5em;
  width: 3em;
  background-color: #0b3550;
  color: white;
  float: left; }

.lnk2 {
  height: 1em;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-right: 0.5em;
  width: 3em;
  background-color: #05686f;
  color: white;
  float: left; }

.lnk3 {
  height: 1em;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 3em;
  background-color: #5f686f;
  color: white;
  float: left; }

.dolphin {
  font-size: 1.75em;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 3em;
  padding-top: 3em;
  display: inline-block;
  color: #568aaf;
  margin: 0 0 0 2em; }

.kitten {
  padding-top: 6em;
  height: 12em;
  width: 15em;
  text-align: center;
  margin-bottom: 1em;
  font-size: 0.25em; }

.social {
  font-size: 0.75em; }

.twit {
  height: 0.5em;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-right: 0.5em;
  width: 5em;
  background-color: white;
  color: #cccccc;
  float: left; }

.face {
  height: 0.5em;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-right: 0.5em;
  width: 5em;
  background-color: white;
  color: #cccccc;
  float: left; }

.insta {
  height: 0.5em;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-right: 0.5em;
  width: 5em;
  background-color: white;
  color: #cccccc;
  float: left; }

.pic {
  background-color: #24b7d6;
  height: 2em;
  padding-top: 8em;
  margin-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  font-size: 2.1em;
  color: #d5d5d5; }

.ad {
  font-size: 1.25em;
  padding-top: 1em;
  text-align: right;
  text-decoration: underline;
  color: #cccccc;
  padding-bottom: 4em;
  border-bottom: .05em solid #cccccc; }

.popular {
  font-size: 2.25em;
  padding-top: 3em;
  padding-bottom: 1em;
  margin: 0 0em 0 0em;
  text-align: center;
  color: #0c3452; }

.post1 {
  background-color: #24b7d6;
  padding-top: 7em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  font-size: 2.25em;
  color: #d5d5d5; }

.kayaks {
  background-color: #6a6070;
  padding-top: 6em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  font-size: 2.25em;
  color: #d5d5d5;
  margin: 1em 0 0 0; }

.cool {
  background-color: #568aaf;
  padding-top: 7em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  font-size: 2.25em;
  color: #d5d5d5;
  margin: 1em 0 3em 0; }

.footer {
  background-color: #092e45;
  color: #97a8b4;
  padding-top: 3em;
  font-size: 1.25em;
  height: 14.5em;
  text-align: center; }
  .footer .lownav {
    margin-left: 4em; }
  .footer .nav1 {
    height: 1em;
    text-align: center;
    padding-right: 0.75em;
    margin-right: 0.5em;
    width: 5em;
    background-color: #092e45;
    color: #8698b6;
    float: left;
    border-right: solid 0.1em; }
  .footer .nav2 {
    height: 1em;
    text-align: center;
    padding-right: 0.75em;
    margin-right: 0.5em;
    width: 5em;
    background-color: #092e45;
    color: #8698b6;
    float: left;
    border-right: solid 0.1em; }
  .footer .nav3 {
    height: 1em;
    text-align: center;
    padding-bottom: 0.5em;
    margin-right: 0.5em;
    width: 5em;
    background-color: #092e45;
    color: #8698b6;
    float: left; }
  .footer .nav5 {
    height: 1em;
    text-align: center;
    margin-left: 6.3em;
    padding-top: 0.5em;
    width: 5em;
    background-color: #092e45;
    color: #8698b6; }
  .footer .img {
    padding-top: 4em; }
  .footer .rights {
    padding-top: 0.5em; }

/* CSS for medium devices ≥768px */
@media (min-width: 768px) {
  .banner {
    height: 15em; }

  .footer {
    text-align: left;
    height: 15em; }

  .kitten {
    padding-top: 3em;
    height: 10em;
    width: 13em;
    text-align: center; } }

/*# sourceMappingURL=style.css.map */
